asgiref==3.2.7
dj-database-url==0.5.0
Django==3.0
django-ckeditor==5.9.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-taggit==1.2.0
django-user-visit==0.4
gunicorn==20.0.4
psycopg2
pytz
sqlparse==0.3.1
ua-parser==0.10.0
user-agents==2.2.0
whitenoise==5.0.1
joblib~=1.1.0
pandas~=1.4.3
matplotlib~=3.5.2
seaborn~=0.11.2
nltk~=3.7
numpy~=1.23.0
PyPDF2~=2.4.1
textract~=1.6.5
docx2txt~=0.8
wordcloud~=1.8.2.2
sklearn~=0.0
scikit-learn~=1.1.1
django-widget-tweaks